<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<div class="signup" style="visibility: hidden;">test</div>
<form class="signup" name="signup" action="/signup" method="POST">
  <h1>Luo uusi käyttäjä</h1>
  <p class="signup">Käyttäjätunnus:</p>
  <input id="username" class="signup" name="username" />
  <p class="signup">Salasana:</p>
  <input id="password" class="signup" name="password" type="password" />
  <p class="signup">Salasana vahvistus:</p>
  <input id="confirmation" class="signup" name="confirmation" type="password" />
  <p></p>
  <button class="signup" onclick="validate()">Luo uusi käyttäjätunnus</button>
  <div id="message" class="signup" style="display: none;"></div>
  <p></p>
</form>
<script>
  validate = () => {
    event.preventDefault()
    const username = document.getElementById("username").value
    const password = document.getElementById("password").value
    const confirmation = document.getElementById("confirmation").value
    const element = document.getElementById("message")
    element.style.display = ""
    const timeout = () => {
      setTimeout(() => {
        element.style.display = "none"
      }, 5000)
    }
    if (username.trim().length < 3) {
      element.innerHTML = "Liian lyhyt käyttäjätunnus. Lyhin sallittu pituus on (3)."
      timeout()
    } else if (password !== confirmation) {
      element.innerHTML = "Salasanat eivät täsmää."
      timeout()
    } else if (password.length < 8) {
      element.innerHTML = "Liian lyhyt salasana. Lyhin sallittu pituus on (8)"
      timeout()
    } else {
      document.signup.submit()
    }
  }
</script>
<style>
  form.signup {
    background-color: antiquewhite;
    margin-left: 300px;
    margin-right: 0;
    margin-top: 120px;
    padding: 50px;
    border-radius: 3em;
  }
  .signup {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 120%;
  }
  div.signup {
    color: red;
  }
  button.signup {
    width: 282px;
  }
</style>
{% endblock %}
