<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static',filename='layout.css') }}">
<script type="text/javascript" src="/static/index.js"></script>
<html>
  <form id="sidebar" action="" method="GET"></form>
  <body>
    <div class="auth">
      {% if session.username %}
      <p id="in" class="loggedin">{{ session.username }}</p>
      <button class="nav" onclick="fire('sidebar', '/logout')">Kirjaudu ulos</button>
      {% else %}
      <p id="out" class="loggedin">Et ole kirjautunut sisään</p>
      <button class="nav" onclick="fire('sidebar', '/login')">Kirjaudu sisään</button>
      <p></p>
      <button class="nav" onclick="fire('sidebar', '/signup')">Luo uusi käyttäjä</Button>
      {% endif %}
    </div>
    <div class="nav">
      <button class="nav" onclick="fire('sidebar', '/materials')">Kaikki oppimateriaalit</button>
      {% if session.username %}
      <p></p>
      <button class="nav" onclick="fire('sidebar', '/new')">Luo uusi oppimateriaali</button>
      <p></p>
      <button class="nav" onclick="fire('sidebar', '/materials/my')">Omat oppimateriaalit</button>
      {% endif %}
    </div>
    <div class="top">
      <h1 class="title">Learn Today</h1>
    </div>
    <div class="main">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>