<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<form class="child" name="login" action="/login" method="POST">
  <h1>Kirjaudu sisään</h1>
  <p class="login">Käyttäjätunnus:</p>
  <input class="login" name="username" />
  <p class="login">Salasana:</p>
  <input class="login" name="password" type="password" />
  <p></p>
  <button class="login" type="submit">Kirjaudu sisään</button>
  <p></p>
</form>
<style>
  .login {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 130%;
    width: 274px;
  }
  button.login {
    width: 282px;
    cursor: pointer;
  }
</style>
{% endblock %}