<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<form id="main" class="child" action="" method="POST">
  <input type="hidden" name="csrf" value={{ session.csrf_token }} />
  <h1>{{ name }}</h1>
  <textarea id="contents" readonly rows="{{ rows }}" name="content_area">{{ contents }}</textarea>
  
  {% if owner == True %}
  <button id="modify" class="material" style="display: '';" onclick="modifyContent()">Muokkaa tekstiä</button>
  <div id="content" style="display: none;">
    <button class="material" onclick="modifyContent()">Piilota</button>
    <button class="material" onclick="fire('main', '/materials/contents')">Tallenna</button>
  </div>
  {% endif %}
  
  <p></p>
  <hr>
  <h2>Sisältö</h2>
  {% for chapter in chapters %}
  <a href="/chapters/{{ chapter[0] }}" class="creation">{{ chapter[1] }}</a>
  <p></p>
  {% endfor %}

  <div id="creation" style="display: none;">
    <label class="creation">Kappaleen nimi: </label>
    <input class="creation" name="chapter_name" />
    <p></p>
    <div class="creation">Kappaleen sisältö:</div>
    <textarea id="chapter" rows="10" name="chapter_content"></textarea>
    <button class="material" onclick="fire('main', '/chapters')">Tallenna</button>
  </div>

  {% if owner == False %}
    <div id="give" style="display: '';">
      <button class="material" onclick="feedbackCreation()">Anna palautetta</button>
      {% if likes == False %}
        <button class="material" onclick="fire('main', '/materials/like/' + {{ session.material_id }} + '/2')">Tykkää</button>
        <button class="material" onclick="fire('main', '/materials/like/' + {{ session.material_id }} + '/0')">Epätykkää</button>
      {% endif %}
      {% if likes == True %}
        <button class="material" onclick="fire('main', '/materials/like/' + {{ session.material_id }} + '/1')"">Poista tykkäys</button>
      {% endif %}
    </div>
    <div id="hide" style="display: none;">
      <textarea id="feedback" rows="10" name="feedback"></textarea>
      <button class="material" onclick="feedbackCreation()">Piillota</button>
      <button class="material" onclick="fire('main', '/materials/feedback/' + {{ session.material_id }})">Lähetä palaute</button>
    </div>
  {% endif %}

  {% if owner == True %}
  <div id="add">
    <button class="material" style="display: '';" onclick="chapterCreation()">Lisää uusi kappale</button>
    <p></p>
    <input id="name" type="hidden" name="name" value="" />
    <button class="material " style="display: '';" onclick="changeName()">Muuta oppimateriaalin nimeä</button>
    <p></p>
    <button class="material" style="display: '';" onclick="materialRemoval()">Poista oppimateriaali</button>
  </div>
  <div>
    <h2>Palautteet</h2>
    {% for content in feedback %}
    <h4>Palatute käyttäjältä {{ content[1] }}</h4>
    <textarea rows="5" readonly>{{ content[0] }}</textarea>
    {% endfor %}
  </div>
  {% endif %}
</form>

<script>
  const modifyContent = () => {
    event.preventDefault()
    get("contents").readOnly = !get("contents").readOnly
    toggleVisibility("modify", "content")
  }
  const chapterCreation = () => {
    event.preventDefault()
    toggleVisibility("creation", "add")
  }
  const feedbackCreation = () => {
    event.preventDefault()
    toggleVisibility("give", "hide")
  }
  const changeName = () => {
    event.preventDefault()
    const name = prompt("Anna oppimateriaalille uusi nimi")
    get("name").value = name
    if (name.length > 3 && name.length < 50) fire("main", "/materials/name/" + {{ session.material_id }})
    else alert("Materiaalin nimen tulee sisältää vähintää 4 ja alle 50 merkkiä!")
  }
  const materialRemoval = () => {
    event.preventDefault()
    const key = prompt("Vahvista poisto kirjoittamalla DELETE")
    if (key === 'DELETE') fire("main", "/materials/remove/" + {{ session.material_id }})
  }
</script>

<style>
  h4 {
    margin-bottom: 2px;
  }
  h3 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  textarea {
    font-size: 140%;
    display: block;
    width: 100%;
    border: none;
    resize: none;
  }
  .creation {
    font-size: 130%;
  }
  #contents {
    margin-top: 0;
    background-color: antiquewhite;
  }
  #chapter {
    background-color: white;
  }
  button.material {
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 120%;
    cursor: pointer;
    width: 280px;
  }
  button.material:hover {
    background-color: rgb(179, 179, 179);
  }
</style>
{% endblock %}