<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<form id="main" class="child" action="" method="GET" >
  <input type="hidden" name="csrf" value={{ session.csrf_token }} />
  <h1>{{ title }}</h1>
  {% for material in materials %}
  <button id="{{ material[0] }}" onclick="fire('main', '/materials/' + {{ material[0] }})" class="materials">
    <h3>{{ material[1] }}</h3>
    <div>Kuvaus: {{ material[2] }}</div>
  </button><hr>
  {% endfor %}
</form>

<style>
  h3 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  button.materials {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 110%;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 0;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(231, 225, 226);
  }
  button:hover {
    background-color: rgb(179, 179, 179);
  }
</style>
{% endblock %}