<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<form class="child" name="signup" action="/signup" method="POST">
  <h1>Luo uusi käyttäjä</h1>
  <p class="signup">Käyttäjätunnus:</p>
  <input id="username" class="signup" name="username" />
  <p class="signup">Salasana:</p>
  <input id="password" class="signup" name="password" type="password" />
  <p class="signup">Salasana vahvistus:</p>
  <input id="confirmation" class="signup" name="confirmation" type="password" />
  <p></p>
  <button class="signup" onclick="validate()">Luo uusi käyttäjätunnus</button>
  <div id="message" class="signup" style="display: none;"></div>
  <p></p>
</form>
<script>
  const validate = () => {
    event.preventDefault()
    const username = get("username").value
    const password = get("password").value
    const confirmation = get("confirmation").value
    const element = get("message")
    if (username.trim().length < 3) setMessage(element, "Liian lyhyt käyttäjätunnus. Lyhin sallittu pituus on (3).")
    else if (password !== confirmation) setMessage(element, "Salasanat eivät täsmää.")
    else if (password.length < 8) setMessage(element, "Liian lyhyt salasana. Lyhin sallittu pituus on (8)")
    else document.signup.submit()
  }
</script>
<style>
  .signup {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 130%;
    width: 274px;
  }
  div.signup {
    color: red;
  }
  button.signup {
    width: 282px;
    cursor: pointer;
  }
</style>
{% endblock %}
